/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  /* Tipografía */
  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }
  
  p {
    margin: 0 0 1em 0;
  }
