.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.slider {
  width: 80%; 
  max-width: 600px; 
  margin: 0 auto;
  padding: 40px; 
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #999;
  border-radius: 4px;
}

.slider-track {
  position: absolute;
  background-color: black;
  height: 10px;
  z-index: 2;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  top: -5px;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  cursor: grab;
  z-index: 3;
}

.slider-thumb:hover,
.slider-thumb:active {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  top: -7px;
  cursor: grabbing;
}

.slider-label-min, .slider-label-max {
  position: absolute;
  display: flex;
  gap: 8px;
  top: 40px;
}

.slider-label-min {
  left: -25px;
}

.slider-label-max {
  right: -35px;
}

.clickable {
  cursor: pointer;
}

.slider-mark {
  position: absolute;
  bottom: -15px;
  width: 2px;
  height: 10px;
  background-color: black;
  transform: translateX(-50%);
}

